body {
  font-family: Noto Sans;
  color: #fefefe;
  background-color: #1a1a1d;
  /* font-size: 14px; */
}

h1 {
  color: #c3073f;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: #950740;
  text-decoration: none;
}

ul {
  margin-left: 25px;
  line-height: 2.5em;
}

code {
  padding: 10px 25px;
  margin: 10px 50px;
  white-space: pre-line;
  background: #222222;
  display: block;
  border-radius: 4px;
  line-height: 2em;
  color: #c3073f;
}

.nav-link {
  padding: 10px 0 10px 40px;
  border-top: 1px solid;
  border-color: #6f2232;
  display: block;
}

#navbar {
  border-right: 2px solid;
  border-color: #6f2232;
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0px;
  left: 0px;
}

#main-doc {
  padding: 20px;
  margin-left: 300px;
  position: absolute;
}

.code {
  padding: 5px;
  margin: 0px 10px;
  background: #222222;
  font-family: Lucida Console;
}

p {
  padding: 0 25px 0 25px;
}

.flex-grid {
  display: flex;
  padding: 0 25px 0 25px;
}

@media (max-width: 700px) {
  .flex-grid {
    display: flex;
    padding: 0 25px 0 25px;
    flex-direction: column;
  }
}

.col {
  flex: 1;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  height: 100px;
}
